<div class="row mt-4">
  <div class="col-6">
    <div id="content-formatting" class="card mb-4">
      <div class="card-header">
        <h3 class="card-title">{{data.name}}</h3>
      </div>
      <div class="card-body">
        <img src="{{data.avatar}}" width="200" id="personal-info-avatar" alt="">
        <h3 class="card-title mt-2">{{data.name}}</h3>
        <p class="card-text">
          <i class="fas fa-link mr-2"></i>
          <a href="mailto:{{data.email}}">{{data.email}}</a>
        </p>
        <p class="card-text">{{data.introduction}}</p>
        <hr>
        <a href="#" class="mr-4">
          <span class="text-dark">{{data.tweetCount}}</span>
          <span class="ml-1 text-muted">Tweets</span>
        </a>
        <a href="/users/{{data.id}}/followings" class="mr-4">
          <span class="text-dark">{{data.followingCount}}</span>
          <span class="ml-1 text-muted">Followings</span>
        </a>
        <a href="/users/{{data.id}}/followers" class="mr-4">
          <span class="text-dark">{{data.followerCount}}</span>
          <span class="ml-1 text-muted">Followers</span>
        </a>
        <a href="/users/{{data.id}}/likes" class="mr-4">
          <span class="text-dark">{{data.likeCount}}</span>
          <span class="ml-1 text-muted">Likes</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h3 class="mb-3">Followers</h3>
    {{#each data.Followers}}
    <div id="content-formatting" class="card my-4">
      <div class="card-body">
        <a href="/users/{{...data.id}}/tweets">
          <img src="{{...data.avatar}}" id="personal-tweets-avatar" alt="">
        </a>
        <span class="text-dark ml-2 user-tweet-name">{{this.name}}</span>
        <small class="ml-2">{{this.createdAt}}</small>
        <h6 class="my-4">{{this.introduction}}</h6>

        <div class="d-flex mt-2">
          {{#if this.isFollowed}}
          <form action="/followships/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
              class="btn btn-danger mb-2 mr-2">Following</button></form>
          {{else}}
          {{#if this.isUserSelf}}
          <form action="/followships/{{this.id}}" method="POST">
          </form>
          {{else}}
          <form action="/followships/{{this.id}}" method="POST"><button type="submit"
              class="btn btn-primary mb-2 mr-2">Follow</button>
          </form>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>